---
title: Bio
permalink: /bio
redirect_from: 
  - /pages/about.html
  - /pages/bio.html
  - /about
cover:
  path: /assets/images/maggie-umber-bio-image.jpg
  alt: "Maggie Umber with her graphic novel 270°"
contacts:
  - link: mailto:paintedmags@proton.me
    name: Email 
    info: "✍ paintedmags [at] proton [dot] me"
  - link: https://www.patreon.com/maggieumber
    name: Patreon 
    info: "📖 patreon.com/maggieumber"
  - link: https://bsky.app/profile/maggieumber.bsky.social
    name: Bluesky 
    info: "@@maggieumber.bsky.social"
  - link: https://www.instagram.com/maggieumber/
    name: Instagram 
    info: "@maggieumber"
  - link: https://maggieumber.com/feed.xml
    name: RSS feed
    info: "📰 or Subscribe to the blog:"
bio: "Maggie Umber paints, prints, and programs graphic novels and zines. She's published four 
  graphic novels — Chrysanthemum Under the Waves, Sound of Snow Falling, Time Capsule, 270° — and 
  her work has been widely anthologized. Chrysanthemum Under the Waves was nominated for a 2024 
  Bram Stoker Award for Superior Achievement in a Graphic Novel."
press:
  - link: https://biblioklept.org/tag/chrysanthemum-under-the-waves/
    lastname: Turner
    firstname: Edwin
    title: "Maggie Umber’s Chrysanthemum Under the Waves blends horror, surrealism, and poetic fragmentation into a haunting vision of the uncanny"
    publication: Biblioklept
    month: March
    date: 13
    year: 2025
  - link: https://bramstokerawards.horror.org/front-page/the-2024-bram-stoker-awards-final-ballot/
    lastname: HWA
    firstname: ed.
    title: "The 2024 Bram Stoker Awards® Final Ballot"
    publication: Horror Writers Association
    month: February
    date: 23
    year: 2025
  - link: https://comicsadvocacygroup.org/2025/02/19/cag-mini-grant-2-awardees-announced/
    lastname: Comics Advocacy Group
    firstname: ed.
    title: "CAG Mini-Grant #2 Awardees Announced"
    publication: Comics Advocacy Group
    month: February
    date: 19
    year: 2025
  - link: https://bramstokerawards.horror.org/front-page/the-2024-bram-stoker-awards-preliminary-ballot-announced/
    lastname: HWA
    firstname: ed.
    title: "The 2024 Bram Stoker Awards® Preliminary Ballot Announced"
    publication: Horror Writers Association
    month: January
    date: 22
    year: 2025
  - link: https://www.tcj.com/christmas-wrapping-this-weeks-links/
    lastname: Burscough
    firstname: Clark
    title: "Christmas Wrapping – This Week’s Links"
    publication: The Comics Journal
    month: December
    date: 20
    year: 2024
  - link: https://www.tcj.com/thank-you-for-the-music-this-weeks-links/
    lastname: Burscough
    firstname: Clark
    title: "Thank You For The Music – This Week’s Links"
    publication: The Comics Journal
    month: November
    date: 27
    year: 2024
  - link: https://www.mixcloud.com/lumpenradio/playlists/halftone-radio-supershow/
    lastname: Lawson, Dud
    firstname: Von Haynes, Eric
    title: Interviews with CPG Members recorded during the 6th annual CPG Publishers Fair
    publication: Halftone Radio Supershow on Lumpen Radio
    month: November
    date: 13
    year: 2024
  - link: https://www.tcj.com/there-is-much-to-be-learned-from-beasts-this-weeks-links/
    lastname: Burscough
    firstname: Clark
    title: "TCJ: There is Much to be Learned From Beasts – This Week’s Links"
    publication: The Comics Journal
    month: October
    date: 25
    year: 2024
  - link: https://autobiographix.substack.com/p/an-interview-with-maggie-umber
    lastname: Hickey, Nora
    firstname: Ketcham, Amaris
    title: An Interview with Maggie Umber
    publication: Autobiographix
    month: October
    date: 16
    year: 2024
  - link: https://www.patreon.com/posts/110482391
    lastname: C.
    firstname: Ryan
    title: Insert Name 2024
    publication: "Ryan C.'s Four Color Apocalypse"
    month: August
    date: 20
    year: 2024
  - link: https://www.tcj.com/faster-than-cooking-asparagus-this-weeks-links/
    lastname: Burscough
    firstname: Clark
    title: "TCJ: Faster Than Cooking Asparagus – This Week’s Links"
    publication: The Comics Journal
    month: August
    date: 16
    year: 2024
  - link: https://huuno.dmitrysamarov.com/podcast/maggie-umber/
    lastname: Samarov
    firstname: Dmitry
    title: "A talk with artist/writer Maggie Umber about her nearly-wordless book, Chrysanthemum Under the Waves"
    publication: hu u no podcast
    month: August
    date: 10
    year: 2024
  - link: https://bookpublishing.substack.com/p/the-oscar-speech-in-the-mirror-for-authors
    lastname: Yamaguchi
    firstname: Jeffrey
    title: "The Oscar Speech in the Mirror for Authors: Reading at a Packed House"
    publication: Book Publishing Brick By Brick
    month: January
    date: 26
    year: 2024
  - link: https://youtu.be/To5L9cxqdiY?feature=shared&t=955
    lastname: Kaiti
    firstname: ed.
    title: New Horror Comics for Spring You Won't Want to Miss
    publication: Dark Side of the Library Podcast
    month: March
    date: 31
    year: 2023
reviews:
  - link: https://www.patreon.com/posts/comic-review-2-121446393
    lastname: C.
    firstname: Ryan
    title: "Comic Review : DEATH SPARK #2, Edited By Thomas Campbell (Comics Blogger, 2024)"
    publication: "Ryan C.'s Four Color Apocalypse"
    month: February
    date: 3
    year: 2025
  - link: https://highlowcomics.blogspot.com/2025/01/45-days-of-ccs-43-rust-belt-review-6.html
    lastname: Clough
    firstname: Rob
    title: "45 Days Of CCS, #43: Rust Belt Review 6"
    publication: High-Low
    month: January
    date: 12
    year: 2025
  - link: https://lit.newcity.com/2024/12/16/the-demon-lover-a-review-of-chrysanthemum-under-the-waves-by-maggie-umber/
    lastname: Buck
    firstname: Brendan Tynan
    title: "The Demon Lover: A Review of Chrysanthemum Under the Waves by Maggie Umber"
    publication: Newcity Lit
    month: December
    date: 16
    year: 2024
  - link: https://www.goodreads.com/review/show/7044022464
    lastname: Kirby
    firstname: Rob
    title: "Goodreads review of CUTW by Rob Kirby, editor of The Shirley Jackson Project"
    publication: Goodreads
    month: November
    date: 30
    year: 2024
  - link: https://booklife.com/pwreview/275482
    lastname: Staff
    firstname: BookLife
    title: "Chrysanthemum Under the Waves"
    publication: Publishers Weekly
    month: November
    date: 28
    year: 2024
  - link: https://www.patreon.com/posts/book-review-by-116410283
    lastname: C.
    firstname: Ryan
    title: "Book Review : CHRYSANTHEMUM UNDER THE WAVES By Maggie Umber (Self-Published, 2024)"
    publication: "Ryan C.'s Four Color Apocalypse"
    month: November
    date: 20
    year: 2024
  - link: https://www.goodreads.com/review/show/7020311652
    lastname: Ray
    firstname: Rick
    title: "Rick Ray's Reviews: Chrysanthemum Under the Waves"
    publication: Goodreads
    month: November
    date: 20
    year: 2024
  - link: https://www.tcj.com/reviews/chrysanthemum-under-the-waves/
    lastname: Pierce
    firstname: Leonard
    title: "Review: Chrysanthemum Under the Waves"
    publication: The Comics Journal
    month: November
    date: 19
    year: 2024
  - link: https://lars.ingebrigtsen.no/2024/09/17/comics-daze-119/
    lastname: Ingebrigtsen
    firstname: Lars
    title: "Comics Daze #119"
    publication: Random Thoughts
    month: September
    date: 17
    year: 2024
  - link: https://www.goodreads.com/review/show/6805141619
    lastname: Schaafsma
    firstname: Dave
    title: Goodreads review of CUTW by Dave Schaafsma, Professor and Director of English Education at University of Illinois Chicago
    publication: Goodreads
    month: September
    date: 17
    year: 2024
  - link: https://www.vol1brooklyn.com/2024/08/13/review-chrysanthemum-under-the-waves/
    lastname: Samarov
    firstname: Dmitry
    title: "Review: Chrysanthemum Under the Waves"
    publication: Vol. 1 Brooklyn
    month: August
    date: 13
    year: 2024
  - link: https://ilovetheend.bigcartel.com/products
    lastname: THE END PRESS
    firstname: ed.
    title: "Sound of Snow Falling by Maggie Umber"
    publication: "THE END TIMES NEWSLETTER"
    month: "issue one:"
    date: summer
    year: 2024
  - link: https://www.comicsblogger.net/product/comics-blogger-7
    lastname: Campbell
    firstname: Thomas
    title: "WE ARE HUNGRY by Maggie Umber, Self Published"
    publication: "Comics Blogger #7"
    month: "November/"
    date: December
    year: 2023
  - link: https://copaceticcomics.com/creators/maggie-umber
    lastname: Copacetic Comics
    firstname: ed.
    title: "Now #8: Eric Reynolds, E. S. Glenn + 5 more"
    publication: Copacetic Comics
    month: March
    date: 24
    year: 2020
awards:
  - link: https://bramstokerawards.horror.org/front-page/the-2024-bram-stoker-awards-final-ballot/
    name: "The 2024 Bram Stoker Awards® Final Ballot"
    publication: Horror Writers Association
    year: 2025
  - link: https://comicsadvocacygroup.org/2025/02/19/cag-mini-grant-2-awardees-announced/
    name: "CAG Mini-Grant #2 Awardees Announced"
    publication: Comics Advocacy Group
    year: 2025
  - link: https://jamiecoville.com/blog/blog/2025/02/15/the-combined-best-comics-graphic-novels-of-2024/
    name: "Jamie Coville's Combined Best Comics & Graphic Novels of 2024"
    publication: Jamie Coville
    year: 2024
  - link: https://www.patreon.com/posts/four-color-2024-118629914
    name: "Four Color Apocalypse 2024 Year In Review : Top 10 Collected Editions - Contemporary"
    publication: "Ryan C.'s Four Color Apocalypse"
    year: 2024
  - link: https://www.tcj.com/the-best-comics-of-2024-as-chosen-by-tcj-contributors/#andrewwhite
    name: "Andrew White: The best comics of 2024, as chosen by TCJ contributors"
    publication: The Comics Journal
    year: 2024
  - link: https://www.tcj.com/the-best-comics-of-2024-as-chosen-by-tcj-contributors/#leonardpierce
    name: "Leonard Pierce: The best comics of 2024, as chosen by TCJ contributors"
    publication: The Comics Journal
    year: 2024
  - link: https://www.tcj.com/the-best-comics-of-2024-as-chosen-by-tcj-contributors/#hagaipale
    name: "Hagai Palevsky: The best comics of 2024, as chosen by TCJ contributors"
    publication: The Comics Journal
    year: 2024
  - link: https://www.tcj.com/the-best-comics-of-2024-as-chosen-by-tcj-contributors/#chrismautner
    name: "Chris Mautner: The best comics of 2024, as chosen by TCJ contributors"
    publication: The Comics Journal
    year: 2024
  - link: https://www.tcj.com/the-best-comics-of-2024-as-chosen-by-tcj-contributors/#alexdueben
    name: "Alex Dueben: The best comics of 2024, as chosen by TCJ contributors"
    publication: The Comics Journal
    year: 2024
  - link: https://lars.ingebrigtsen.no/2024/12/21/the-best-comics-of-2024/
    name: "Lars Ingebrigtsen: The best comics of 2024"
    publication: Random Thoughts
    year: 2024
  - link: https://www.instagram.com/p/DDhSxJIxnxm/?img_index=1
    name: "Comics Blogger #11 Best of 2024"
    publication: Comics Blogger
    year: 2024
  - link: https://www.goodreads.com/review/list/152576090-rick-ray?page=2&shelf=best-comics-of-2024
    name: "Best Comics of 2024"
    publication: Rick Ray on Goodreads
    year: 2024
  - link: https://www.fantagraphics.com/products/the-comics-journal-yearbook-best-of-2023
    name: "Kristy Valenti's Top 10 List of 2023, The Comics Journal Yearbook, Best of 2023"
    publication: The Comics Journal
    year: 2023
  - link: https://nijomu.com/reviews/comics-i-enjoyed-reading-in-2018/
    name: Comics I Enjoyed Reading in 2018
    publication: nijomu
    year: 2018
readings:
  - link: /cutw-launch-at-tangible-books
    name: CUTW Launch at Tangible Books
    year: 2024
  - link: https://cartooncrossroadscolumbus.org/session/the-sounds-of-silence-spotlight-on-maggie-umber/
    name: "The Sounds of Silence: Spotlight on Maggie Umber in conversation with OSU comics scholar Jared Gardner, CXC, Columbus, OH"
    year: 2024
  - link: /paper-jam-znd-performance
    name: "ZINE NOT DEAD #21"
    year: 2023
exhibitions:
  - link: /short-run-and-marathon-art-show.html
    name: Marathon Art Show 
    gallery: Fantagraphics Bookstore & Gallery
    location: Seattle, WA
    year: 2024
  - link: https://www.annarborartcenter.org/drawing-worlds/
    name: "Drawing Worlds: The art of comics and beyond"
    gallery: A2AC
    location: Ann Arbor, MI
    year: 2024
  - link: https://www.youtube.com/watch?v=7HvDOhFrlPI
    name: Corrupted Frames Ninth Digital Gallery
    gallery: Co-Prosperity Sphere
    location: Chicago, IL
    year: 2023
workshops:
  - link: https://www.youtube.com/live/ne2Q7ZbSGNI?feature=shared
    name: "SAW Friday Night Comics Workshop"
    year: 2025
  - link: https://lalewestvind.com/
    name: "artist Zoom talk for Lale Westvind's Print Class at Parsons School of Design, New York, NY"
    year: 2024
tour2024:
    - date: 4/27
      name: Madison Print & Resist Zine Fest
      location: Madison, WI
    - date: 6/14-7/7
      name: "Drawing Worlds: The art of comics and beyond, A2AC (The Ann Arbor Art Center)"
      location: Ann Arbor, MI
    - date: 6/15
      name: "ZND Fest (Zine Not Dead Fest: A Comics and Small Press Fair)"
      location: Chicago, IL
    - date: 6/30
      name: oddball market, the Empty Bottle
      location: Chicago, IL
    - date: 8/17
      name: Autoptic Festival
      location: Minneapolis, MN
    - date: 8/18
      name: INZF (Insert Name Zine Fest)
      location: Minneapolis, MN
    - date: 8/24-25
      name: CAKE (Chicago Alternative Comics Expo)
      location: Chicago, IL
    - date: 9/8
      name: ZINEmercado Zine Fest
      location: Chicago, IL
    - date: 9/14-15
      name: The Urban Birding Festival
      location: Chicago, IL
    - date: 9/26-29
      name: CXC (Cartoon Crossroads Columbus)
      location: Columbus, OH
    - date: 10/5
      name: "A2CAF: SIP (Ann Arbor Comic Arts Festival: Small + Indie Press)"
      location: Ann Arbor, MI
    - date: 10/6
      name: MILK Fest (Milwaukee Independent Local Comics Fest)
      location: WI
    - date: 10/12
      name: Chicago Printers Guild Publishers Fair
      location: Chicago, IL
    - date: 10/25
      name: Chrysanthemum Under the Waves Book Release Party
      location: Tangible Books, Chicago, IL
    - date: 10/26
      name: SLICE (St. Louis Independent Comics Expo)
      location: St. Louis, MO
    - date: 11/1
      name: Marathon Art Show
      location: Fantagraphics Bookstore & Gallery, Seattle, WA
    - date: 11/2
      name: Short Run Comix Festival
      location: Seattle, WA
    - date: 11/15-17
      name: Staple + Stitch Art Book and Print Fair
      location: Chicago, IL
tour2023:
    - date: 4/8
      name: ICE CREAM (Iowa City Expo for Comics and Real Eclectic Alternative Media)
      location: Iowa City, IA
    - date: 4/22
      name: Madison Print & Resist Zine Fest
      location: Madison, WI
    - date: 5/20
      name: CZF (Chicago Zine Fest)
      location: Chicago, IL
    - date: 6/3-6/4
      name: CAKE (Chicago Alternative Comics Expo)
      location: Chicago, IL
    - date: 6/23-6/26
      name: The Zine Pavilion at ALA (American Library Association)
      location: Chicago, IL
    - date: 8/12
      name: INZF (Insert Name Zine Fest)
      location: Minneapolis, MN
    - date: 8/27
      name: ZINEmercado
      location: Chicago, IL
    - date: 9/9
      name: Zinecinnati
      location: Cincinnati, OH
    - date: 9/10
      name: MILK Comic Fest (Milwaukee Indie Local Comic Fest)
      location: Milwaukee, WI
    - date: 9/16-9/17
      name: CABF (Cincinnati Art Book Fair)
      location: Covington, KY
    - date: 10/6
      name: "ZINE NOT DEAD #21 hosted by Chicago Printers Guild"
      location: Co-prosperity, Chicago, IL
    - date: 10/7
      name: "Chicago Printer Guild PAPER JAM, screening The Schizophrenic Dialogues Short Film with Corrupted Frames: A
        Digital Gallery"
      location: Co-prosperity, Chicago, IL
    - date: 10/7
      name: Lafayette Comic-Con
      location: Lafayette, IN
    - date: 10/14
      name: Rain Taxi's Twin Cities Book Festival
      location: St. Paul, MN
    - date: 10/21
      name: Chicago Printer Guilds PAPER JAM Publishers Fair
      location: Co-prosperity, Chicago, IL
---

<hr />
<div class="gallery">
  <figure class="gallery-item">
    <img
      class="thumbnail-400"
      src="{{ page.cover.path }}"
      alt="{{ page.cover.alt }}"
      title="copyright Maggie Umber and Eric Bartholomew"
    />
  </figure>
</div>
<br />
<p>{{ page.bio }} <a href="#contact">↓</a></p>

<h2 id="contact">Contact</h2>
<ul>
{% for contact in page.contacts %}
<li>☞ <a href="{{ contact.link }}" target="_blank">{{ contact.name }}</a> {{ contact.info }}</li>
{% endfor %}
</ul>

<!-- <form
  action="https://buttondown.com/api/emails/embed-subscribe/maggieumber"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/maggieumber', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.com/refer/maggieumber" target="_blank">Powered by Buttondown.</a>
  </p>
</form> -->

<h2>Press</h2>
<ul>
{% for press in page.press %}
  <li>&#10004; {{ press.lastname }}, {{ press.firstname }}, 
    <a href="{{ press.link }}" target="_blank">{{ press.title }}</a>,
    {{ press.publication }}, {{ press.month }} {{ press.date }}, {{ press.year }}</li>
{% endfor %}
</ul>

<h2>Reviews</h2>
<ul>
  {% for review in page.reviews %}
    <li>&#10004; {{ review.lastname }}, {{ review.firstname }}, 
      <a href="{{ review.link }}" target="_blank">{{ review.title }}</a>,
      {{ review.publication }}, {{ review.month }} {{ review.date }}, {{ review.year }}</li>
  {% endfor %}
  </ul>

<h2>Awards</h2>
<ul>
{% for award in page.awards %}
  <li>&#10004; {{ award.year }} <a href="{{ award.link }}" target="_blank">{{ award.name }}</a>, {{ award.publication }}</li>
{% endfor %}
</ul>

<h2>Readings and Panels</h2>
<ul>
{% for reading in page.readings %}
  <li>&#10004; <a href="{{ reading.link }}" target="_blank">{{ reading.name }}</a>, {{ reading.year }}</li>
{% endfor %}
</ul>

<h2>Exhibitions</h2>
<ul>
{% for exhibit in page.exhibitions %}
  <li>&#10004; {{ exhibit.year }} <a href="{{ exhibit.link }}" target="_blank">{{ exhibit.name }}</a>,
  {{ exhibit.gallery }}, {{ exhibit.location }}</li>
{% endfor %}
</ul>

<h2>Workshops</h2>
<ul>
{% for workshop in page.workshops %}
  <li>&#10004; <a href="{{ workshop.link }}" target="_blank">{{ workshop.name }}</a>, {{ workshop.year }}</li>
{% endfor %}
</ul>

<h2>Touring</h2>
<h3>2024: The Less is More Zine Tour</h3>
<ul>
{% for tour2024 in page.tour2024 %}
  <li>&#10004; {{ tour2024.date }} {{ tour2024.name }}, {{ tour2024.location }}</li>
{% endfor %}
</ul>

<h3>2023: My Mostly Midwest Zine Tour</h3>
<ul>
{% for tour2023 in page.tour2023 %}
  <li>&#10004; {{ tour2023.date }} {{ tour2023.name }}, {{ tour2023.location }}</li>
{% endfor %}
</ul>