---
title: Maggie Umber
permalink: /
redirect_from:
  - /pages/events.html
  - /events.html
descriptions:
  - Hello, my name is Maggie. I've been publishing books and zines in the small press 
    comics community since 2007. I co-founded 2dcloud, now I focus on my own books.
  - I'm excited to share my first self-published graphic novel with you! 
    <a href="/chrysanthemum-under-the-waves.html">Chrysanthemum Under the Waves</a> was 6+ years in 
    the making and is a collection of 9 comics. It was on 9 best of lists and is a 
    <a href="https://bramstokerawards.horror.org/front-page/the-2024-bram-stoker-awards-final-ballot/" target="_blank">
    Bram Stoker Awards® Nominee</a> for Superior Achievement in a Graphic Novel. It excerpted in the
    <a href="https://www.smallpressexpo.com/ignatz-awards/" target="_blank">Ignatz Award Nominated anthology Rust Belt Review vol.6</a>. 
    It began as a single comic - a silent interpretation of the short story, The Tooth, by Shirley 
    Jackson. 
  - In Jackson's writing, I met James Harris. His is an ominous but nearly invisible presence in her 
    stories, a tall man in a blue suit, a face hidden under a hat or by cigar smoke... He is a demon
    figure, a portent of doom. As he seeped into my comics, my marriage, my career and my health failed. 
    At first, I thought that James Harris came to destroy me. Over time, I recognized he was there 
    to help me say goodbye to all I loved most.
cover:
  path: /assets/images/books/maggie-umber-chrysanthemum-under-the-waves-cover.jpg
  alt: "a woman in profile with long hair floating up, text reads: Chrysanthemum Under the Waves"
price: "$35"
button_id: SB5W5DNEJC7LS
pages: 284 pgs, 6 in x 9 in
materials: "softcover, perfect bound <br />ISBN: 979-8-218-41076-6"
doubles:
  - path: /assets/images/blog/2024-07-16-cutw-production-sample-1.jpg
    alt: maggie umber reading a copy of Chrysanthemum Under the Waves by Maggie Umber
  - path: /assets/images/blog/2024-07-16-cutw-production-sample-4.jpg
    alt: maggie umber reading a copy of Chrysanthemum Under the Waves by Maggie Umber
tour2025:
  - date: 1/24
    name: SAW Friday Night Workshop
    location: <a href="https://www.youtube.com/live/ne2Q7ZbSGNI?feature=shared" target="_blank">sequentialartistsworkshop</a>
  - date: 2/16
    name: <a href="https://www.instagram.com/oddballmarket/" target="_blank">oddball market</a>
    location: the empty bottle, Chicago, IL
  - date: 4/19
    name: <a href="https://www.binderymke.com/milwaukeezinefest/" target="_blank">Milwaukee Zine Fest</a>
    location: Milwaukee Central Library, Milwaukee, WI
  - date: 4/26
    name: <a href="https://madisonprintandresist.wordpress.com/" target="_blank">Madison Print and Resist</a>
    location: Madison Public Library, Madison, WI
  - date: 5/15-18
    name: <a href="https://indunesbirdingfestival.com/pages/migration-marketplace" target="_blank">Indiana Dunes Birding Festival</a>
    location: Migration Marketplace, Porter, IN
  - date: 6/20
    name: <a href="https://www.instagram.com/p/DK5hZ3dvAQn/?img_index=1" target="_blank">Lumpen Comics Release Party</a>
    location: Co-prosperity, Chicago, IL
  - date: 6/28-29
    name: <a href="https://www.cakechicago.com/cake-2025" target="_blank">CAKE (Chicago Alternative Comics Expo)</a>
    location: Irish American Heritage Center, Chicago, IL
  - date: 7/13
    name: <a href="https://www.chicagozinefest.org/" target="_blank">CZF Zinester Reading</a>
    location: Skunk Cabbage Books, Chicago, IL
  - date: 7/19
    name: <a href="https://www.chicagozinefest.org/" target="_blank">CZF (Chicago Zine Fest)</a>
    location: Harold Washington Library, Chicago, IL
  - date: 7/26
    name: <a href="https://zineclubchicago.com/" target="_blank">South Side Zine Fest</a>
    location: Richard J. Daley Branch, Chicago Public Library, Chicago IL
  - date: 8/16
    name: <a href="https://www.hendersonhummingbirdhurrah.com/" target="_blank">Henderson Hummingbird Hurrah</a>
    location: Bender Park, Henderson, MN
  - date: 8/23-24
    name: <a href="https://www.instagram.com/insertnamezinefest/" target="_blank">INZF (Insert Name Zine Fest)</a>
    location: Squirrel Haus Arts, Minneapolis, MN
  - date: 9/13-14
    name: <a href="https://www.theurbanbirdingfestival.org/" target="_blank">The Urban Birding Festival</a>
    location: Peggy Notebaert Nature Museum, Chicago, IL 
  - date: 9/27
    name: <a href="https://milkcomicfest.org/" target="_blank">MILK (Milwaukee Independent Local Comics Fest)</a>
    location: Milwaukee, WI
  - date: 10/4
    name: <a href="https://www.prettygoodfest.com/" target="_blank">Pretty Good Fest</a>
    location: Chicago Athletic Association, Chicago, IL
  - date: 10/25
    name: <a href="https://www.chicagoprintersguild.org/" target="_blank">Chicago Printers Guild Publishers Fair</a>
    location: Chicago Cultural Center, Chicago, IL
bookstores:
  - name: Floating World Comics
    location: Portland, OR
    link: https://floating-world-comics.myshopify.com/search?q=Maggie+Umber
  - name: Other Books LA
    location: Los Angeles, CA
    link: https://otherbooksla.com/search?q=Maggie+Umber
  - name: Alienated Majesty Books
    location: Austin, TX
    link: https://www.alienatedmajestybooks.com/browse/filter/t/Maggie%20Umber/k/keyword
  - name: Wig Shop Web Shop
    location: Denver, CO
    link: https://www.wigshopwebshop.com/books/maggie-umber-chrysanthemum-under-the-waves
  - name: Tangible Books
    location: Chicago, IL
    link: https://tangiblebookschicago.com/
  - name: Howling Pages
    location: Chicago, IL
    link: https://www.howlingpages.com/search?type=product&q=Maggie+Umber
  - name: Spit and a Half
    location: Beloit, WI
    link: https://www.spitandahalf.com/?s=%22Maggie+Umber%22
  - name: Vault of Midnight
    location: Ann Arbor, MI
    link: https://www.vaultofmidnight.com/locations/#locations-annarbor
  - name: Domino Books
    location: Brooklyn, NY
    link: https://dominobooks.org/chrysanthemum.html
  - name: Partners and Son
    location: Philadelphia, PA
    link: https://partnersandson.com/search?q=Maggie+Umber&options%5Bprefix%5D=last
  - name: 50 Watts Books
    location: Philadelphia, PA
    link: https://50wattsbooks.com/search?q=maggie+umber&type=product
  - name: The Copacetic Comics Company
    location: Pittsburgh, PA
    link: https://copaceticcomics.com/creators/maggie-umber
  - name: Comics N'More
    location: Easthampton, MA
    link: https://www.comicsmongers.com/
  - name: All the Old Poisons
    location: Washington, DC
    link: https://alltheoldpoisons.com/products/strange-star-by-maggie-umber
  - name: Atomic Books
    location: Baltimore, MD
    link: https://atomicbooks.com/search?type=product&q=Maggie+Umber
  - name: Comics Blogger
    location: Cary, NC
    link: https://www.comicsblogger.net/product/death-spark-2
  - name: Wakeup Comics
    location: Nashville, TN
    link: https://www.instagram.com/wakeupcomics/
  - name: The Beguiling
    location: Toronto, ON
    link: https://www.beguilingbooks.com/browse/filter/t/Maggie%20Umber/k/keyword
  - name: Gosh! Comics
    location: London, UK
    link: https://goshlondon.com/search.php?search_query=%22Maggie+Umber%22
---

{% include blog-double.html %}
{% for description in page.descriptions %}
  <p>{{ description }}</p>
{% endfor %}

<!-- cover image -->
<div class="gallery">
  <figure class="gallery-item">
    <a href="/chrysanthemum-under-the-waves.html">
      <img
        class="thumbnail-600"
        src="{{ page.cover.path }}"
        alt="{{ page.cover.alt }}"
        title="copyright Maggie Umber"
      />
    </a>
    <figcaption>
      <form
        target="paypal"
        action="https://www.paypal.com/cgi-bin/webscr"
        method="post"
      >
        <p>
          {{ page.pages }}<br />
          {{ page.materials }} <br />
          {{ page.price }}
        </p>

        <input type="hidden" name="cmd" value="_s-xclick" />
        <input
          type="hidden"
          name="hosted_button_id"
          value="{{ page.button_id }}"
        />
        <input
          type="image"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
          border="0"
          name="submit"
          alt="PayPal - The safer, easier way to pay online!"
        />
        <img
          alt=""
          border="0"
          src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
          width="1"
          height="1"
        />
      </form>
    </figcaption>
  </figure>
</div>

<p>
  <a href="/chrysanthemum-under-the-waves.html">Click here to preview the book</a> 
  in photos and video, read a plot summary, blurbs, reviews, and view awards, related exhibitions 
  and workshops.
</p>

<hr />
<h2>Upcoming Events</h2>

<h3>2025: Millions of Minis Zine Tour</h3>
<ul>
  {% for tour2025 in page.tour2025 %}
    <li>☞ {{ tour2025.date }} {{ tour2025.name }}, {{ tour2025.location }}</li>
  {% endfor %}
</ul>

<h2 id="bookstores">Bookstores that carry my books:</h2>
<ul>
{% for bookstore in page.bookstores %}
  <li>☞ <a href="{{ bookstore.link }}" target="_blank">{{ bookstore.name }}</a>, {{ bookstore.location }}</li>
{% endfor %}
</ul>