---
title: Prints
permalink: /prints
redirect_from: /pages/prints.html
---

<p>There are three sizes available for each print (4x6 inches, 5x7 inches, and 8.5x11 inches). 
  Each artwork is reproduced as a high-quality inkjet print on glossy photo paper. They are packaged in a 
  plastic sleeve with a matboard backing.</p>
  <p>
    <a href="#270-prints">☞ 270°</a>
    <a href="#cutw-prints">☞ CUTW</a>
    <a href="#jonesy-prints">☞ Jonesy</a>
    <a href="#nature-prints">☞ Nature</a>
    <a href="#portrait-prints">☞ Portrait</a>
    <a href="#sosf-prints">☞ SOSF</a>
    <a href="#tc-prints">☞ Time Capsule</a>
  </p>
<hr />

<!-- 270 prints -->
<article id="270-prints">
  <h1 class="h1-category-spacing">270°</h1>
  <div class="gallery">
    {% for item in site.data.prints.prints270 %} {% include products-prints.html %} {%
    endfor %}
  </div>
</article>

<!-- cutw prints -->
<article id="cutw-prints">
  <h1 class="h1-category-spacing">Chrysanthemum Under the Waves</h1>
  <div class="gallery">
    {% for item in site.data.prints.cutw %} {% include products-prints.html %} {%
    endfor %}
  </div>
</article>

<!-- jonesy prints -->
<article id="jonesy-prints">
  <h1 class="h1-category-spacing">Jonesy</h1>
  <div class="gallery">
    {% for item in site.data.prints.jonesy %} {% include products-prints.html %} {%
    endfor %}
  </div>
</article>

<!-- nature prints -->
<article id="nature-prints">
  <h1 class="h1-category-spacing">Nature</h1>
  <div class="gallery">
    {% for item in site.data.prints.nature %} {% include products-prints.html %} {%
    endfor %}
  </div>
</article>

<!-- portrait prints -->
<article id="portrait-prints">
  <h1 class="h1-category-spacing">Portrait</h1>
  <div class="gallery">
    {% for item in site.data.prints.portrait %} {% include products-prints.html %} {%
    endfor %}
  </div>
</article>

<!-- sosf prints -->
<article id="sosf-prints">
  <h1 class="h1-category-spacing">Sound of Snow Falling</h1>
  <div class="gallery">
    {% for item in site.data.prints.sosf %} {% include products-prints.html %} {%
    endfor %}
  </div>
</article>

<!-- tc prints -->
<article id="tc-prints">
  <h1 class="h1-category-spacing">Time Capsule</h1>
  <div class="gallery">
    {% for item in site.data.prints.tc %} {% include products-prints.html %} {%
    endfor %}
  </div>
</article>