---
title: Prints
permalink: /prints
redirect_from: /pages/prints.html
---

<p>There are three sizes available for each print (4x6 inches, 5x7 inches, and 8.5x11 inches). 
  Each artwork is reproduced as a high-quality inkjet print on glossy photo paper. They are packaged in a 
  plastic sleeve with a matboard backing.</p>
  <p>
    <a href="#270-prints">☞ 270°</a>
    <a href="#cutw-prints">☞ CUTW</a>
    <a href="#jonesy-prints">☞ Jonesy</a>
    <a href="#nature-prints">☞ Nature</a>
    <a href="#portrait-prints">☞ Portrait</a>
    <a href="#sosf-prints">☞ SOSF</a>
    <a href="#tc-prints">☞ Time Capsule</a>
  </p>
<hr />

<!-- sosf prints -->
<article id="sosf-prints">
  <h1 class="h1-category-spacing">Sound of Snow Falling</h1>
  <div class="gallery">
    {% assign random_sosf_prints = site.data.prints.sosf | sample: 20 %}
    {% for item in random_sosf_prints %}
      {% include products-prints.html %}
    {% endfor %}
  </div>
</article>

<!-- tc prints -->
<article id="tc-prints">
  <h1 class="h1-category-spacing">Time Capsule</h1>
  <div class="gallery">
    {% assign random_tc_prints = site.data.prints.tc | sample: 20 %}
    {% for item in random_tc_prints %}
      {% include products-prints.html %}
    {% endfor %}
  </div>
</article>

<!-- 270 prints -->
<article id="270-prints">
  <h1 class="h1-category-spacing">270°</h1>
  <div class="gallery">
    {% assign random_270_prints = site.data.prints.prints270 | sample: 30 %}
    {% for item in random_270_prints %}
      {% include products-prints.html %}
    {% endfor %}
  </div>
</article>

<!-- cutw prints -->
<article id="cutw-prints">
  <h1 class="h1-category-spacing">Chrysanthemum Under the Waves</h1>
  <div class="gallery">
    {% assign random_cutw_prints = site.data.prints.cutw | sample: 6 %}
    {% for item in random_cutw_prints %}
      {% include products-prints.html %}
    {% endfor %}
  </div>
</article>

<!-- jonesy prints -->
<article id="jonesy-prints">
  <h1 class="h1-category-spacing">Jonesy</h1>
  <div class="gallery">
    {% assign random_jonesy_prints = site.data.prints.jonesy | sample: 2 %}
    {% for item in random_jonesy_prints %}
      {% include products-prints.html %}
    {% endfor %}
  </div>
</article>

<!-- nature prints -->
<article id="nature-prints">
  <h1 class="h1-category-spacing">Nature</h1>
  <div class="gallery">
    {% assign random_nature_prints = site.data.prints.nature | sample: 20 %}
    {% for item in random_nature_prints %}
      {% include products-prints.html %}
    {% endfor %}
  </div>
</article>

<!-- portrait prints -->
<article id="portrait-prints">
  <h1 class="h1-category-spacing">Portrait</h1>
  <div class="gallery">
    {% assign random_portrait_prints = site.data.prints.portrait | sample: 20 %}
    {% for item in random_portrait_prints %}
      {% include products-prints.html %}
    {% endfor %}
  </div>
</article>