---
title: Reviews
permalink: /reviews
---

<p>
  My reviews of graphic novels, comic books and zines with a focus on small alternative 
  press and self-published work. I only only review books that I love. As an unsatisfied 
  completionist, I wish I could read literally everything, but alas. 
</p>
<hr />

<h3>Reviews Archive</h3>
<div class="gallery">
  {% for post in site.posts %} {% if post.categories contains 'reviews' %}
  <figure class="gallery-item">
    <a href="{{ post.url }}">
      <img class="thumbnail-300" src="{{ post.cover.path }}" alt="{{ post.cover.alt }}" title="copyright Maggie Umber"/></a>
      <figcaption><a href="{{ post.url }}">{{ post.date | date: "%m/%d/%y" }}<br />{{ post.title }}</a></figcaption>
  </figure>
  {% endif %} {% endfor %}
</div>
