---
title: Tour Diary
permalink: /tour-diary
---

<p>
  Adventures in touring! In 2024: The Less is More Tour I debut new prints and toys and my 
  graphic novel, Chrysanthemum Under the Waves. In 2023: My Mostly Midwest Zine Tour, I 
  emerged from a 5 year hiatus as a self-publisher with 5 new zines.
</p>
<hr />

<h3>Tour Diary Archive</h3>
<div class="gallery">
  {% for post in site.posts %} {% if post.categories contains 'tour-diary' %}
  <figure class="gallery-item">
    <a href="{{ post.url }}">
      <img class="thumbnail-300" src="{{ post.cover.path }}" alt="{{ post.cover.alt }}" title="copyright Maggie Umber"/></a>
      <figcaption><a href="{{ post.url }}">{{ post.date | date: "%m/%d/%y" }}<br />{{ post.title }}</a></figcaption>
  </figure>
  {% endif %} {% endfor %}
</div>
