<!-- cover image -->
<div class="gallery">
  <figure class="gallery-item">
    <a href="{{ page.image.path }}">
      <img
        class="thumbnail-600"
        src="{{ page.image.path }}"
        alt="{{ page.image.alt }}"
        title="copyright Maggie Umber"
      />
    </a>
    <figcaption>{{ content }}</figcaption>
  </figure>
</div>

<p>There are generally 3 print sizes available. Each print is a high-quality inkjet on glossy photo paper.
  It's packaged in a plastic sleeve with a matboard backing.</p>
<p>Each greeting card is a high-quality inkjet print. It arrives in a plastic sleeve with an envelope.</p>

{% include random.html %}
