<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8" />
  <meta
    name="description"
    content="Maggie Umber, cartoonist, painter, printmaker, programmer"
  />
  <meta
    name="keywords"
    content="Maggie Umber, comics, paintings, prints, games"
  />
  <meta name="author" content="Maggie Umber" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- LINK TO RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- LINKS TO CSS FILE ("STYLESHEET") AND SITE ICON -->
  <link rel="stylesheet" href="/assets/css/style-sheet.css" />
  <link rel="icon" href="/assets/images/myicon.png" />
</head>
