* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body font */
/* Lato is a sans-serif typeface designed by Łukasz Dziedzic.(https://www.fontsquirrel.com/fonts/lato) */
@font-face {
  font-family: 'latoregular';
  src: url("/assets/fonts/lato/lato-regular-webfont.woff2") format('woff2'),
       url("/assets/fonts/lato/lato-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

/* headline & bold font */
/* Chunk by Meredith Mandel (https://www.theleagueofmoveabletype.com/chunk) */
@font-face {
  font-family: "Chunk-master";
  src: url("/assets/fonts/chunk-master/webfonts/ChunkFive-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/chunk-master/webfonts/ChunkFive-Regular.woff")
    format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "latoregular", sans-serif;
  font-weight: 300;
  letter-spacing: 0.08em;
  font-size: 15px;
  line-height: 1.8em;
  background-color: #eff2f9;
  max-width: 1200px;
  color: #140808;
  margin: 100px auto 100px auto;
  text-align: center;
}

h1,
h2,
h3,
header,
nav,
a {
  font-family: Chunk-master, cursive;
}

header,
footer,
nav {
  color: #252525;
}

nav,
footer {
  position: fixed;
  left: 0px;
  text-align: center;
  margin-left: auto;
  padding: 0px 5px 0px 0px;
  width: 100%;
}

.bodynav {
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 25px 0px;
}

nav {
  top: 0px;
  z-index: 1;
}

footer {
  bottom: 0px;
}

small {
  display: block;
}

h1,
h2,
h3 {
  text-align: center;
  margin-left: auto;
  padding: 25px;
}

.h1-category-spacing {
  padding-top: 100px;
}

h2 {
  padding: 70px 0px 30px 0px;
}

p,
ul, blockquote {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 20px 10px;
  width: 60%;
  /* text-align: justify; */
}

ol {
  text-align: center;
}

li {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  text-decoration: none;
  color: #8a2426;
}

nav a,
footer a {
  margin: 0px 5px;
}

a:hover {
  font-weight: 700;
  color: #f94848;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Videos */
video {
  display: block;
  margin: 0 auto;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item .thumbnail-200 {
  width: 200px;
  margin-top: 50px;
}

.gallery-item .thumbnail-300 {
  width: 300px;
}

.gallery-item .thumbnail-400 {
  width: 400px;
  /* padding: 25px; */
}

.gallery-item .thumbnail-600 {
  width: 600px;
}

.siteIcon {
  width: 30px;
  display: inline;
}

figcaption {
  text-align: center;
  padding-bottom: 50px;
}
