---
title: Comics in Fanta/BOMB Mag 
categories: anthologies
cover:
  path: /assets/images/blog/2019-02-02-comics-in-fanta-bomb-mag-1.jpg
  alt: "a colorful illustration of a flayed face filling the frame, green text reads: NOW, yellow text reads: 5"
doubles:
  - path: /assets/images/blog/2019-02-02-comics-in-fanta-bomb-mag-2.jpg
    alt: two chrysanthemums on one page, a woman being embraced by a hidden man behind her
  - path: /assets/images/blog/2019-02-02-comics-in-fanta-bomb-mag-3.jpg
    alt: plush toast
singles:
  - path: /assets/images/books/anthologies/maggie-umber-bomb-magazine-issue-146.jpg
    alt: "2 page spread of storm with rain and lightning, text reads: somewhere else, there is water"
---

<p>
  My comics are in a couple of publications...
</p>

{% include blog-double.html %}
<p>
  ”The Daemon Lover” is in 
  <a href="https://www.fantagraphics.com/products/now-5" target="_blank">Fantagraphics Now: The New Comics Anthology 5</a>.
</p>

{% include blog-single.html %}
<p>
  “There is Water“ is in 
  <a href="https://bombmagazine.org/articles/2019/03/13/there-is-water/" target="_blank">BOMB magazine 146 / Winter 2019</a>. 
</p>
<p>
  Yaaaaa so excited!!!
</p>