---
title: Schizophrenic Dialogues Film
author: Maggie Umber
categories: videos
cover:
  path: /assets/images/blog/2022-06-02-schizophrenic-dialogues-film-1.jpg
  alt: Vita Rhie Quintanilla and her Mom
singles:
  - path: /assets/images/blog/2022-06-02-schizophrenic-dialogues-film-2.jpg
    alt: Anthony Tadlock and Vita Rhie Quintanilla playing guitars and singing in their Salvation Day band
trailer:
    path: /assets/videos/the-schizophrenic-dialogues-short-film-small.mp4
    type: video/mp4
    credits: The Schizophrenic Dialogues Short Film was printed and painted by Maggie Umber. Anthony Tadlock, executive producer. Words from The Schizophrenic Dialogues by Vita Rhie Quintanilla. The song was Sacred Art (Hidden Track) from the album Path of Sacred Art by Salvation Day. Listen to Salvation Day on Spotify and iTunes. 
---

<p>
  <a href="https://www.xlibris.com/en/bookstore/bookdetails/805191-the-schizophrenic-dialogues" target="_blank">The Schizophrenic Dialogues</a> 
  is a collection of memoirs on the first-hand experience of schizophrenia told through 
  the lens of the actual dialogue between a person with schizophrenia and her auditory, 
  visual, and tactile hallucinations. These accounts and their accompanying commentary 
  represent the reality of people with schizophrenia in society and within themselves. 
  The Dialogues shed light on the lives built to harness a stigmatized condition as a 
  positive, and live in defiance of a "grave" prognosis. 
</p>
{% include blog-single.html %}
<p>
  Vita Rhie Quintanilla is the author of The Schizophrenic Dialogues, Writer and 
  Frontwoman of Salvation Day and cofounder of 
  <a href="https://sacredartproductions.com/" target="_blank">Sacred Art Productions</a>. 
</p>
{% include book-trailer.html %}
