---
title: "Chrysanthemum Shop Debut"
categories: touring
cover:
  path: /assets/images/books/maggie-umber-chrysanthemum-the-storyboards-cover.jpg
  alt: "chrysanthemum flowers, text reads: Chrysanthemum: the Storyboards, Maggie Umber"
singles:
  - path: /assets/images/blog/2023-10-30-chrysanthemum-shop-debut.jpg
    alt: "maggie umber profile in light in front of storyboard pages, text reads: Chrysanthemum: the Storyboards by Maggie Umber"
---

<p>
  Chrysanthemum: the Storyboards by Maggie Umber - 6 years of
  storyboards collected in 80 pages - is now available on
  <a href="/chrysanthemum-the-storyboards">maggieumber.com</a>.
</p>
{% include blog-single.html %}
<p>
  Maggie’s compositions, drawings, and use of black and white are
  exceptional. Viewing this body of work inspires me to do better as an
  artist overall, and in the composing stages of laying out a book. I
  cannot wait to read the finished book! <br />
  — Ash H.G., cartoonist behind The Golden Thread Zine & forthcoming
  graphic novel East District
</p>

<!-- images -->
<div class="gallery">
  {% for product in site.data.products.zines %} 
  {% if product.title == "Chrysanthemum: <br />the Storyboards" %} 
  {% include blog-product.html %} {% endif %} {% endfor %}
</div>