---
title: "PRETZEL Debut: Print & Resist"
categories: touring
cover:
  path: /assets/images/books/maggie-umber-pretzel-cover.jpg
  alt: "a white pretzel on a black zine cover, text reads: PRETZEL, Maggie Umber"
---

<p>
  Tomorrow, Sat April 22nd from 11am-4pm, I'll be tabling at
  <a href="https://madisonprintandresist.wordpress.com/" target="_blank">Print and Resist</a>
  in the Madison Public Library.
  <a href="/pretzel.html">PRETZEL</a>
  debuts! 🥨🕷️ I can't wait to see you there :D
</p>

<!-- images -->
<div class="gallery">
  {% for product in site.data.products.zines %} 
  {% if product.title == "PRETZEL"%}
  {% include blog-product.html %} 
  {% endif %} 
  {% endfor %}
</div>
