---
title: "PRETZEL Debut: Madison Print & Resist"
categories: tour-diary
cover:
  path: /assets/images/blog/2023-04-21-madison-print-and-resist-table.jpg
  alt: set up of table of zines, comics, prints and toys by Maggie Umber
---

<p>
  Tomorrow, Sat April 22nd from 11am-4pm, I'll be tabling at
  <a href="https://madisonprintandresist.wordpress.com/" target="_blank">Print and Resist</a>
  in the Madison Public Library.
  <a href="/pretzel.html">PRETZEL</a>
  debuts! 🥨🕷️ I can't wait to see you there :D
</p>

<!-- images -->
<div class="gallery">
  {% for product in site.data.products.zines %} 
  {% if product.title == "PRETZEL"%}
  {% include blog-product.html %} 
  {% endif %} 
  {% endfor %}
</div>
