---
title: "Bunworld 1 Debut: Chicago Zine Fest"
categories: tour-diary
doubles:
  - path: /assets/images/blog/2023-05-20-maggie-umber-czf-bunworld-1-prep.jpg
    alt: printed pages of Bunworld waiting to be folded with a pair of blue gloves
  - path: /assets/images/blog/2023-05-20-maggie-umber-czf-table-setup.jpg
    alt: chicago zine fest table set up with zines, prints and toys by Maggie Umber
singles:
  path: /assets/images/blog/2023-05-20-maggie-umber-czf-jonesy-prep.jpg
  alt: pages from Jonesy by Maggie Umber waiting to be collated
---

{% include blog-double.html %}

<p>
  I'm tabling
  <a href="https://www.chicagozinefest.org/" target="_blank">Chicago Zine Fest</a>
  11-6 today as a part of my Mostly Midwest Zine Tour. <a href="/bunworld-1.html">Bunworld 1</a>
  debuts!!! Thank you to Alex Nall and all of the organizers & volunteers who
  made this show happen!!!! I look forward to seeing everyone :D Stop by and say
  hi & wish a happy bday to Bun 🐰🧁👩‍🍳🎂🍰❤️❣️
</p>

{% include blog-single.html %}