---
title: "Tour Stop 7: ZINEmercado"
categories: tour-diary
cover:
  path: /assets/images/blog/2023-08-24-tour-stop-7-zinemercado-1.jpg
  alt: "ZINEmercado 2023 poster with a flying bird"
singles:
  - path: /assets/images/blog/2023-08-24-tour-stop-7-zinemercado-2.jpg
    alt: "WE ARE HUNGRY zine cover"
trailer:
  path: /assets/videos/maggie-umber-we-are-hungry-znd.mp4
  type: video/mp4
  credits: 'Credits: WE ARE HUNGRY was performed for ZINE NOT DEAD VIIII. <br />Programmed in p5.js by Maggie Umber. <br /> Music: <a href="https://freemusicbg.com/ossuary-6-air/" target="_blank">Ossuary 6 - Air</a> Kevin MacLeod (incompetech.com). <br />Digital Font in Video credits: <a href="https://www.theleagueofmoveabletype.com/chunk" target="_blank">Chunk</a> by Meredith Mandel.'
---

<p>
  <a href="https://www.instagram.com/zinemercado/" target="_blank">ZINEmercado</a>
  is this Sunday 8/27 in Chicago! I'll have my newest zine
  <a href="/we-are-hungry.html">WE ARE HUNGRY</a>. 
</p>

{% include book-trailer.html %}
<p>
  WE ARE HUNGRY started as a reading at ZINE NOT DEAD VIIII in 2018
  and has finally found its way in to zine form in 2023. 
</p>

{% include blog-single.html %}
<p>
  Stop by, say hi
  & pick up a copy if you're in Logan Square!
</p>

<!-- images -->
<div class="gallery">
  {% for product in site.data.products.zines %} 
  {% if product.title == "WE ARE HUNGRY" %} 
  {% include blog-product.html %} {% endif %} {% endfor %}
</div>