---
title: "CPG Publishers Fair 10/21"
categories: tour-diary
doubles:
  - path: /assets/images/blog/2023-10-17-cpg-publishers-fair-10-21-1.jpg
    alt: "A print of a large, black silhouetted spider and a smaller one, shadowed, on a pale orange background with the words in black above WE ARE HUNGRY and below MAGGIE UMBER. The frame around this central image advertises the 2023 CPG Publishers Fair."
  - path: /assets/images/blog/2023-10-17-cpg-publishers-fair-10-21-2.jpg
    alt: "All for print and print for all, framed by a bold text announcing Chicago Printers Guild Annual Publishers Fair. The text is framed by the event details, stating Saturday,October 21, 2023, Noon to 6 pm and emphasizing Free Admission. The event location is specified as Co-Prosperity, 3219 S. Morgan St., Chicago, IL 60608"
---

{% include blog-double.html %}

<p>
  After a three-year hiatus, the
  <a href="https://www.chicagoprintersguild.org/" target="_blank">Chicago Printers Guild</a>
  Publishers Fair is making its glorious return at the first-ever PAPER
  JAM! ALL are welcome to join us at Co-Prosperity (3219 S. Morgan) from
  noon ’til 6pm on Saturday, October 21 to meet more than 30 printmakers
  from across Chicago and take home some amazing artwork.
</p>
<p>I'll be tabling! Come on by & buy some glorious prints.</p>

<!-- images -->
<div class="gallery">
  {% for product in site.data.products.zines %} 
  {% if product.title == "WE ARE HUNGRY" %} 
  {% include blog-product.html %} {% endif %} {% endfor %}
</div>