---
title: CUTW Prints at Autoptic and INZF
author: Maggie Umber
categories: touring
cover:
  path: /assets/images/blog/2024-08-14-cutw-prints-at-autoptic-and-inzf-01.jpg
  alt: Maggie Umber in an orange shirt sitting at her drawing desk holdin a pencil, text reads I'm Exhibiting at AUTOPTIC, August 17, autoptic.org
doubles:
  - path: /assets/images/blog/2024-08-14-cutw-prints-at-autoptic-and-inzf-02.jpg
    alt: Insert Name Zine Fest 2024 list of special guests and tablers including Maggie Umber, with drawings by Emily J. Mehr 
  - path: /assets/images/blog/2024-08-14-cutw-prints-at-autoptic-and-inzf-03.jpg
    alt: 4 prints from Chrysanthemum Under the Waves by Maggie Umber
singles:
  - path: /assets/images/blog/2024-08-14-cutw-prints-at-autoptic-and-inzf-04.jpg
    alt: Insert Name Zine Fest 2024 poster by Ezra David Mattes
---

<p>
  Hello Minnesota! This weekend I'll be tabling in Minneapolis at <a href="https://autoptic.org/" target="_blank">Autoptic Festival</a> 
  on 8/17 and <a href="https://www.ejoymehr.com/#inzf" target="_blank">INZF (Insert Name Zine Fest)</a> on 8/18.
  I'll be debuting 4 new prints from my upcoming graphic novel <a href="/chrysanthemum-under-the-waves">Chrysanthemum Under the Waves</a>.
  I'll also be giving away Chrysanthemum Under the Waves preorder mini-posters, so stop by for one!
</p>
{% include blog-double.html %}
<p>
  Autoptic </br>
  Exhibition Floor Show </br>
  Saturday, August 17th, 2024 </br>
  11:00 a.m. to 6:00 p.m. </br>
  @ Coffman Memorial Union </br>
  300 Washington Ave. S.E. </br>
  Minneapolis, MN 55455 </br>
</p>
<p>
  INZF </br>
  Sunday, August 18th, 2024 </br>
  12:00 p.m. to 5:00 p.m. </br>
  @ Squirrel Haus Arts </br>
  3450 Snelling Ave. </br>
  Minneapolis, MN 55406 </br>
</p>

{% include blog-single.html %}
