---
title: The Academic Hour by Keren Katz
categories: reviews
cover:
  path: /assets/images/blog/2024-01-26-the-academic-hour-keren-katz-01.jpg
  alt: Maggie Umber in a green and black wool sweater, holding a copy of The Academic Hour by Keren Katz
doubles:
  - path: /assets/images/blog/2024-01-26-the-academic-hour-keren-katz-02.jpg
    alt: horse being ridden by a rib cage, as it itself trod upon train wheels
  - path: /assets/images/blog/2024-01-26-the-academic-hour-keren-katz-03.jpg
    alt: plush toast
singles:
  - path: /assets/images/blog/2024-01-26-the-academic-hour-keren-katz-04.jpg
    alt: a copy of The Academic Hour by Keren Katz
---

<p>
  <a href="https://indiepubs.com/products/the-academic-hour" target="_blank"
    >The Academic Hour</a
  >
  is a multidisciplinary, debut graphic novel. It comes from the mind's eye of
  forever-student-of-life, Keren Katz. The once failed air traffic controller,
  highly trained ballerina and lover of the meandering path of endless education
  has found her true calling in comics.
</p>
<p>
  Anyone who wishes that the comics medium can be more than panels, formal
  narrative, and speech bubbles will do well to pick up this book. I wandered
  with happy dizziness among Katz's choreographed colored pencil drawings,
  poetic descriptions of paper-cut-out maps, and an obscurely documented
  romance. I adored seeing her lightly drawn process lines peeking through her
  final art. I was a joyful witness to the elongation of her characters and her
  endlessly stretched and shrunken architecture.
</p>
{% include blog-double.html %}
<p>
  I can't forget images like the horse being ridden by a rib cage, as it itself
  trod upon train wheels. Or plush toast! If you have ever been pleased at the
  sight of an arm wrapped around a large portfolio or a thumb tucked between the
  pages of a book, you'll crave this book's aesthetics. Even if loose socks and
  overgrown pencils are not your cup of tea, this theatrical production will
  bring you swiftly to your feet. You will applaud at every intermission and
  sigh in agreement with every spoken verse.
</p>
<p>
  I am grateful to be a reader lead along a path of unexpected conclusions. It
  is fun to try and spot the autobiographical references, no matter how
  fantastical. This illuminated treasure is to be read, and read again.
</p>
<p>Thank you for reading!</p>

{% include blog-single.html %}
