---
title: "Staple + Stitch, TCJ Best of 2023"
author: Maggie Umber
categories: touring awards
cover:
  path: /assets/images/blog/2024-11-12-staple-and-stitch-tcj-best-of-2023-1.jpg
  alt: Maggie Umber at her table at the Short Run Comix Festival in Seattle, WA
singles:
  - path: /assets/images/blog/2024-11-12-staple-and-stitch-tcj-best-of-2023-2.jpg
    alt: "Staple + Stitch Art Book Fair at 21c Museum Hotel Chicago"
doubles:
  - path: /assets/images/blog/2024-11-12-staple-and-stitch-tcj-best-of-2023-3.jpg
    alt: "Maggie Umber's watercolor hanging in the Fantagraphics Bookstore & Gallery, Seattle, WA, text reads: Marathon Art Show"
  - path: /assets/images/blog/2024-11-12-staple-and-stitch-tcj-best-of-2023-4.jpg
    alt: The Comics Journal Yearbook, Best of 2023, featuring PRETZEL by Maggie Umber
---
<p>
  Find me this week (Friday-Sunday) at Staple + Stitch in Chicago, IL!
</p>
<p>
  <a href="https://www.stapleandstitchfair.com/" target="_blank">Staple + Stitch</a>
  is an art book and print fair. A celebration and engagement with art, text, print, and paper 
  hosted at 21c Museum Hotel Chicago. Exhibitors include arts publishers, small and independent 
  presses, book artists, zine makers, and printmakers across the 2nd-floor spaces of the 21c 
  Chicago. Tandem programming includes book signings, workshops, and demonstrations open to all 
  ages.
</p>

{% include blog-single.html %}

<p>
  The three-day fair is free and open to the public with an emphasis on publications, artist books,
  zines, and other print-related materials.
</p>
<p>
  Friday       11/15     3 - 6 pm <br />
  Friday       11/15     6 - 9 pm - Preview Party open to the public <br />
  Saturday   11/16    11 am - 6 pm <br />
  Sunday     11/17    11 am - 6 pm 
</p>

<p>
  Special thanks to Executive Director Kelly Froh, to all who volunteered, tabled at or attended the
  <a href="http://shortrun.org/" target="_blank">Short Run Comix Festival</a> in Seattle, WA. 
  I had a magnificent time. Pic from the festival by Quinn Frances.
</p>
<p>
  Here's my watercolor from the
  <a href="/chrysanthemum-under-the-waves.html">Chrysanthemum Under the Waves</a> book launch
  hanging in the Marathon Art Show at 
  <a href="https://www.instagram.com/fantagraphicsbookstore/" target="_blank">Fantagraphics Bookstore & 
    Gallery</a> in Seattle, WA. 
</p>
<p>Thank you to TCJ Editorial Coordinator, Kristy Valenti, for stopping my table at Short Run. She 
  put my zine 
  <a href="/pretzel.html">PRETZEL</a> on her Top 10 List in The Comics Journal Yearbook, 
  Best of 2023. Get your own PRETZEL at Staple + Stitch or on maggieumber.com.
</p>

{% include blog-double.html %}