---
title: Pallets of CUTW Arrive
author: Maggie Umber
categories: touring
cover:
  path: /assets/images/blog/2024-09-01-pallets-of-cutw-arrive-01.jpg
  alt: two pallets of Chrysanthemum Under the Waves graphic novels arrive
doubles:
  - path: /assets/images/blog/2024-09-01-pallets-of-cutw-arrive-02.jpg
    alt: Maggie Umber unpacking a pallet of Chrysanthemum Under the Waves graphic novels
  - path: /assets/images/blog/2024-09-01-pallets-of-cutw-arrive-03.jpg
    alt: unboxing Chrysanthemum Under the Waves graphic novels with back covers showing
singles:
  - path: /assets/images/blog/2024-09-01-pallets-of-cutw-arrive-04.jpg
    alt: unboxing Chrysanthemum Under the Waves graphic novels with front cover showing
---

<p> The two pallets of my self-published graphic novel
  <a href="/chrysanthemum-under-the-waves.html">Chrysanthemum Under the Waves</a> have
  arrived! Thank you to everyone who preordered!!!
</p>
{% include blog-double.html %}
<p>
  I'll have advanced copies of Chrysanthemum Under the Waves at my table at 
  <a href="https://www.cartooncrossroadscolumbus.org/" target="_blank">CXC (Cartoon Crossroads Columbus)</a>
   9/28-9/29. Preorders from maggieumber.com ship early October. The book launch takes place at 
   <a href="https://www.librarything.com/venue/117381/Tangible-Books" target="_blank">Tangible
    Books</a> in Chicago 10/25. It will be spooky!
</p>
<p>
  Thank you to <a href="https://printninja.com/" target="_blank">
  PrintNinja</a> for the beautiful printing job. They also printed my first graphic novel,
  <a href="/time-capsule.html">Time Capsule</a>, and I couldn't be happier with the quality.
</p>
{% include blog-single.html %}
