---
title: Packing Preorders, CUTW Reviews
author: Maggie Umber
categories: touring
cover:
  path: /assets/images/blog/2024-09-20-packing-preorders-and-cutw-reviews-01.jpg
  alt: boxes of Chrysanthemum Under the Waves preorders packed up and ready to ship
doubles:
  - path: /assets/images/blog/2024-09-20-packing-preorders-and-cutw-reviews-02.jpg
    alt: Dave Schaafsma goodreads review of Chrysanthemum Under the Waves
  - path: /assets/images/blog/2024-09-20-packing-preorders-and-cutw-reviews-03.jpg
    alt: Lars Ingebrigtsen holding Chrysanthemum Under the Waves
singles:
  - path: /assets/images/blog/2024-09-20-packing-preorders-and-cutw-reviews-04.jpg
    alt: Lars Ingebrigtsen holding WE ARE HUNGRY, Bunworld 1, and PRETZEL
---

<p>
  This week I started packing preorders for 
  <a href="/chrysanthemum-under-the-waves.html">  Chrysanthemum Under the Waves</a>.
  I'd like to mail out as many preporders on Oct 1st as I can. 
</p>
<p>
  On September 17th, I received two reviews of Chrysanthemum Under the Waves. One was on goodreads 
  by Dave Schaafsma (5 stars)! 
  <a href="https://www.goodreads.com/book/show/75456317-chrysanthemum-under-the-waves?ac=1&from_search=true&qid=UxqWBhR375&rank=1" target="_blank">You can read it here</a>. 
  Here's a quote:
</p>
<blockquote>
For someone as young as she appears to be (I met her as I had before at CAKE, the 2024 Chicago Alt 
Comix expo), I would hesitate to suggest it might be her “life’s work” but I’ll propose that it is 
that so far for two reasons; 1) this is a deeply personal project, dealing very much with her “life’s 
work,” at least the work of her life, until now, and 2) it is her most ambitious work, by far. I’ll 
call it art comics, too, to distinguish it from alt comix, as the painterly image is central here. 
And it’s most often wordless, or privileging the image. The fact that it involved linking so many 
separate pieces and many of them wordless, it could be challenging to many readers, for sure. It 
was for me, but it pays off for the work I invested. I can’t wait to see it in paper next month. 
It’s tremendous.
</blockquote>
{% include blog-double.html %}
<p>
  I also received a review on Random Thoughts: The Sky Won't Fall? the blog by Lars Ingebrigtsen. 
  He says:
</p>
<blockquote>
This is a collection of stories... but it’s amazingly unified in mood. Many of these seem to 
reference old movies, or at least how people were dressed back then. They’re all narrative pieces, 
but (mostly) wordless, and it’s a bit vague what the story actually is — which works wonderfully, 
really. There’s like a despair emanating from these pages. Excellent work.
</blockquote>

{% include blog-single.html %}

<p>
  He also reviewed 
  <a href="/we-are-hungry.html">WE ARE HUNGRY</a>, <a href="/bunworld-1.html">Bunworld 1</a>, and
  <a href="/pretzel.html">PRETZEL</a> in the same post, further down. You can read all four reviews by 
  <a href="https://lars.ingebrigtsen.no/2024/09/17/comics-daze-119/" target="_blank">clicking on this link here</a>.
  Just scroll through to see everything!
</p>