---
title: CUTW Production Sample
author: Maggie Umber
categories: touring
cover:
  path: /assets/images/blog/2024-07-16-cutw-production-sample-1.jpg
  alt: maggie umber reading a copy of Chrysanthemum Under the Waves by Maggie Umber
doubles:
  - path: /assets/images/blog/2024-07-16-cutw-production-sample-2.jpg
    alt: hand holding book, front cover text reads Chrysanthemum Under the Waves, Maggie Umber
  - path: /assets/images/blog/2024-07-16-cutw-production-sample-3.jpg
    alt: hand holding book, back cover text includes synopsis of and blurbs for Chrysanthemum Under the Waves
singles:
  - path: /assets/images/blog/2024-07-16-cutw-production-sample-4.jpg
    alt: maggie umber reading a copy of Chrysanthemum Under the Waves by Maggie Umber
---

<p>
  The full print run of my new graphic novel, <a href="/chrysanthemum-under-the-waves.html">Chrysanthemum 
    Under the Waves</a>, has been printed. Two sample copies arrived on my doorstep last week. 
  The rest will arrive a few weeks before their debut at 
  <a href="https://www.cartooncrossroadscolumbus.org/" target="_blank">CXC (Cartoon Crossroads Columbus)</a>
  in September.
</p>
{% include blog-double.html %}
<p>
  Preorder here on <a href="/chrysanthemum-under-the-waves.html">maggieumber.com</a> or buy from me
  on the fall leg of The Less is More Zine Tour!
</p>
{% include blog-single.html %}