---
title: "GOK Specials at Staple + Stitch"
author: Maggie Umber
categories: touring
cover:
  path: /assets/images/books/maggie-umber-the-gok-specials-cover.jpg
  alt: "three panels with abstract swirls,text reads: The GOK Specials, Maggie Umber"
singles:
  - path: /assets/images/books/maggie-umber-the-gok-specials-03.jpg
    alt: 
doubles:
  - path: /assets/images/blog/2025-11-09-gok-specials-at-staple-plus-stich-1.jpg
    alt: "Staple + Stitch Art Book and Print Fair, 2025 poster by Hannah Sellers of @catdroool"
  - path: /assets/images/blog/2025-11-09-gok-specials-at-staple-plus-stich-2.jpg
    alt: "Staple + Stitch Art Book and Print Fair, 2025 vendors list"
---

<p>
  <a href="/the-gok-specials.html">The GOK Specials</a> debuts at
  <a href="https://www.stapleandstitchfair.com/" target="_blank">Staple + Stitch</a> this weekend!
  My 20-page mini comic is about the lesser known early charcoal and watercolor works of American 
  Modernist painter Georgia O’Keeffe.
</p>

{% include blog-single.html %}

<p>
  Staple + Stitch is an art book and print fair. A celebration and engagement with art, text, print,
  and paper. Exhibitors include arts publishers, small and independent presses, book artists, zine 
  makers, and printmakers. Tandem programming includes book signings, workshops, and demonstrations 
  open to all ages. 
</p>
<p>
  The three-day fair is free and open to the public with an emphasis on publications, artist books, 
  zines, and other print-related materials, and will feature over 75 vendors. Poster by Hannah Sellers 
  of @catdroool.
</p>
<p>
  Friday       11/14     6 - 9 pm  Opening Night with special pop-up vendors <br />
  Saturday   11/15    11 am - 6 pm <br />
  Sunday     11/16    11 am - 6 pm <br />
  <br />
  HOTEL 55 <br />
  55 East Ontario Street <br />
  Chicago, IL 60611 <br />
  312-660-6100
</p>

{% include blog-double.html %}