---
title: Pit Bull Eyes Debuts CZF Sat
author: Maggie Umber
categories: touring videos
cover:
  path: /assets/images/books/maggie-umber-pit-bull-eyes-cover.jpg
  alt: "a pit bull in front of a caster bean plant on a book cover, text reads: Pit Bull Eyes, Maggie Umber"
singles:
  - path: /assets/images/books/maggie-umber-pit-bull-eyes-03.jpg
    alt: red back cover includes summary of book with caster bean
doubles:
  - path: /assets/images/books/maggie-umber-pit-bull-eyes-01.jpg
    alt: "a girl and a pit bull boy, text reads: it's not okay, I'm confused, says the pit bull"
  - path: /assets/images/books/maggie-umber-pit-bull-eyes-02.jpg
    alt: "a pit bull boy and girl kneeling, text reads: I kneel down."
trailer:
  path: /assets/videos/maggie-umber-pit-bull-eyes-trailer.mp4
  type: video/mp4
  credits: "Programmed in <a href='https://scratch.mit.edu/projects/1194546887' target='_blank'>Scratch</a> 
    by Maggie Umber. <br /> 
    <br /> 
    Music credit: <br />SCP-x2x (Unseen Presence) by Kevin MacLeod (incompetech.com)
    <br />
    Licensed under Creative Commons: By Attribution 4.0 License http://creativecommons.org/licenses/by/4.0/ <br />
    <br /> 
    Sound credits: <br />
    <a href='https://freesound.org/s/348247/' target='_blank'>dogsled-passes-by-L-R-panning.wav</a> by newagesoup 
    License: Creative Commons 0 <br />
    <a href='https://freesound.org/s/450181/' target='_blank'>sled dogs distant howling.flac</a> by kyles
    License: Creative Commons 0 <br />
    <a href='https://freesound.org/s/625499/' target='_blank'>Animal Dog Hound Howl 01.wav</a> by abhisheky948
    License: Creative Commons 0 <br />
    <a href='https://freesound.org/s/29629/' target='_blank'>dog howl in woods.aif</a> by zlp
    License: Attribution 4.0 <br />
    <a href='https://freesound.org/s/690183/' target='_blank'>Happy Dog Barking.wav</a> by 5deMayo
    License: Creative Commons 0"
---

<p>
  <a href="/pit-bull-eyes.html">Pit Bull Eyes</a> debuts at
  <a href="https://www.chicagozinefest.org/" target="_blank">Chicago Zine Fest</a> on Saturday!
  I got very excited when I was asked to table at the fest and read at the fundraiser. So I decided 
  to paint a brand new dream (nightmare?) comic in red and green watercolors about a girl and a pit bull. 
  If you'd like to say hi and pick it up at the fest, here's the info: 
</p>
<p>
  Saturday, July 19, 2025, 11 am to 4 pm <br />
  Harold Washington Library Center <br />
  Winter Garden, 9th Floor <br />
  400 S State St <br />
  Chicago, IL 60605 <br />
  <br />
  Find the full 
  <a href="https://www.chicagozinefest.org/czf-2025-exhibitors.html" target="_blank">list of zinesters who will be tabling at CZF 2025</a>!
</p>

{% include blog-double.html %}
{% include blog-single.html %}
{% include book-trailer.html %}