---
title: "Urban Birding Fest & CPG Exhibit"
author: Maggie Umber
categories: touring awards anthologies
cover:
  path: /assets/images/blog/2025-09-10-urban-birding-fest-and-cpg-exhibit-1.jpg
  alt: Maggie Umber holding prints for The Urban Birding Festival
doubles:
  - path: /assets/images/blog/2025-09-10-urban-birding-fest-and-cpg-exhibit-4.jpg
    alt: "text reads: All for Print. Print for All. Archiving 16 years of the Chicago Printers Guild"
  - path: /assets/images/blog/2025-09-10-urban-birding-fest-and-cpg-exhibit-3.jpg
    alt: framed misregistered woodcut from The Rock. A man has dropped a woman off on the Rock Island and is rowing his boat away
singles:
  - path: /assets/images/blog/2025-09-10-urban-birding-fest-and-cpg-exhibit-2.jpg
    alt: 12 prints of owls, birds, plants by Maggie Umber for The Urban Birding Festival
---

<p>
  I have a woodcut from <a href="/chrysanthemum-under-the-waves.html">Chrysanthemum Under the Waves</a>
  on display at the Harold Washington Library! 
  <a href="https://www.instagram.com/p/DLDDL9CMd0b/" target="_blank">ALL FOR PRINT. PRINT FOR ALL. Archiving 16 years of 
  the Chicago Printers Guild</a> showcases artworks hand-selected from the CPG Records hosted in 
  the permanent collection at the Harold Washington Library.
</p>
<p>
  June 2025-Jan 2026 <br />
  Harold Washington Library <br />
  9th Floor Exhibit Hall <br />
  <br />
  Gallery hours: <br />
  Monday-Thursday: 9:00 AM - 8:00 PM <br />
  Friday: 9:00 AM - 5:00 PM <br />
  Saturday: 9:00 AM - 5:00 PM <br />
  Sunday: 1:00 PM - 5:00 PM
</p>

{% include blog-double.html %}

<p>
  <a href="https://www.smallpressexpo.com/debut/bernadette-magazine-2/" target="_blank">Bernadette 2</a> 
  is debuting at Small Press Expo! My four page comic excerpt from The GOK Specials is in 
  there. Editors Katie Lane and Angela Fanche will be tabling. Pick it up from them and also 
  buy their comics!
</p>
<p>
  <a href="https://www.smallpressexpo.com/ignatz-awards/" target="_blank">Rust Belt Review vol. 6</a> 
  edited by Sean Knickerbocker is up for an Ignatz for Outstanding Anthology! One of my 
  Chrysanthemum Under the Waves comics is in there amongst many gems.
</p>

<p>
  I'm tabling this weekend at 
  <a href="https://www.theurbanbirdingfestival.org" target="_blank">The Urban Birding Festival</a>!
  I'll have 12 new prints! 
</p>

{% include blog-single.html %}

<p>
  The Urban Birding Festival <br />
  Sat & Sun (Sept 13-14) 10am-4pm <br />
  Peggy Notebaert Nature Museum <br />
  2430 N. Cannon Dr. Chicago, IL 60614 
</p>
