---
title: Absolute Simultaneity
author: Maggie Umber
categories: reviews
cover:
  path: /assets/images/blog/2025-01-14-absolute-simultaneity-1.jpg
  alt: Maggie Umber reading Absolute Simultaneity by Lily Thu Fierro and Generoso Fierro
doubles:
  - path: /assets/images/blog/2025-01-14-absolute-simultaneity-2.jpg
    alt: close-up of a bird's tail, toes and face
  - path: /assets/images/blog/2025-01-14-absolute-simultaneity-3.jpg
    alt: branches, grid and sensor
singles:
  - path: /assets/images/blog/2025-01-14-absolute-simultaneity-4.jpg
    alt: person looking at a book with a picture of a shark with a parasite, and a parasite
      being compared to a sensor with wires attached to a person
---

<p>
  <a href="https://dominobooks.org/absolutesimu.html" target="_blank">Absolute Simultaneity</a>
  is the fourth self-published graphic novel by collaborators Lily Thu Fierro and Generoso Fierro. 
  Lily is a cognitive scientist and writer and Generoso is a fine artist, documentarian, and film programmer. 
  Together, they've hosted Generoso and Lily's Bovine Ska and Rocksteady Radio for 28 years. Beginning
  in the summer of 2022, their creative work flowed into the medium of comics with their books 
  Vessel, Inversion, Chua and Absolute Simultaneity (published in 2024).
</p>
<p>
  The visual thinking behind Absolute Simultaneity is carefully crafted with the lettering. Spaces 
  are delineated by recorded numerical measurements. Words crawl, fall apart and find refuge at random around and in 
  panels, sometimes as islands of isolated letters. A limited palette of colored pencils is applied over 
  pencil; the book concludes with gouache that unfurls itself with a delicate touch. 
</p>

{% include blog-double.html %}

<p>
  In this book, the connections formed when comparing shapes is a a place to lurk and ponder. 
  This is where Lily and Generoso combine nature and technology. It isn't the mere showing of birds, nests, sharks, 
  parasites, wires and medical instruments, but the way they are shown to us. Framing is everything.
</p>

{% include blog-single.html %}

<p>
  The pencils in one sequence are are arranged in shapes until they are dismantled by a point-of-view 
  shot closing in. The narrator wants to stop quantifying, stop counting, stop measuring, much to 
  the distress of the people who are invested in a system of order. The recognizable images of 
  the world of nature break down as the technology of the grid, the sensors, the wires is undone by
  opting out. Would everything be in sync if it was uncounted, unseparated; unseen and unrecognized? 
  Would this be the place of absolute simultaneity? Where everything exists as one, whole, single 
  indistinguishable entity?
</p>

<p>
  There is no synopsis, no barcode, no price, no page numbers. The book can be read in any order 
  or no order at all. Like the creators who made it, there is no clear demarcation. I hope that 
  the infinite space invites you in.
</p>