---
title: CPG Halftone Radio
author: Maggie Umber
categories: touring interviews
cover:
  path: /assets/images/blog/2025-11-12-cpg-halftone-radio-1.jpg
  alt: "three panels with abstract swirls,text reads: The GOK Specials, Maggie Umber"
singles:
  - path: /assets/images/blog/2025-11-12-cpg-halftone-radio-4.jpg
    alt: A @chemaskandal at the Chicago Printers Guild Publishers Fair 2025 carefully displays a 
      colorful poster reading Print for All for Print. Surrounded by zines, prints.
doubles:
  - path: /assets/images/blog/2025-11-12-cpg-halftone-radio-2.jpg
    alt: "Staple + Stitch Art Book and Print Fair, 2025 poster by Hannah Sellers of @catdroool"
  - path: /assets/images/blog/2025-11-12-cpg-halftone-radio-3.jpg
    alt:  In the glow of the Chicago Cultural Center’s Tiffany glass dome, a Halftone Radio Super 
      Show @flyingdonutpress laughs mid-sentence, microphone in hand, as another interviewer 
      wearing headphones extends a recorder toward her. The broadcast table is set up among the 
      ornate chandeliers and carved details of Preston Bradley Hall, surrounded by the hum of the 
      Publishers Fair 2025.
---

<p>
  At <a href="https://www.chicagoprintersguild.org/" target="_blank">Chicago Printers Guild</a>
  Publishers Fair a few weeks ago, Kent J. Henderson of 
  <a href="https://www.instagram.com/depressionpress/" target="_blank">Depression Press</a> 
  took this Polaroid of me holding <a href="/bunworld-2">Bunworld 2</a>.
  The other half of Depression Press, Dud Lawson, had me record the outro for the Halftone 
  Radio Supershow. It will air on Lumpen Radio today at 6pm CST.
</p>
<p>
  My contributor copies of 
  <a href="https://www.angelafanche.work/shopping/bernadette-magazine-wl5aa" target="_blank">Bernadette Magazine 2</a> 
  arrived in the mail this week! I'll have one copy
  available at 
  <a href="https://www.stapleandstitchfair.com/" target="_blank">Staple + Stitch</a> this weekend, 
  alongside my debut mini comic, 
  <a href="/the-gok-specials">The GOK Specials</a>.
</p>

{% include blog-double.html %}

<br />
<p>
  Text from the 
  <a href="https://www.instagram.com/p/DQ7xeMtjWtg/?img_index=3" target="_blank">CPG Halftone Radio Supershow announcement</a>:
</p>
<blockquote>
  The Chicago Printers Guild Halftone Radio Supershow is back on 105.5 FM and 
  <a href="https://lumpenradio.com/" target="_blank">lumpenradio.com</a> 
  tomorrow (Wednesday, Nov 12) at 6pm! This special episode was recorded LIVE under the Chicago 
  Cultural Center’s iconic Tiffany dome during the 7th annual the CPG Publishers Fair. Tune in to 
  hear selections by CPG members @breanne_ Trammell, Connor @crepusculine, @ericwilsonson , Kaitlyn 
  Stancy of Flying @flyingdonutpress , @jasjyotjasjyot , @junii.ooo / Junior Pacheco, Madeline 
  Aguilar / @__bench_press , @maggieumber , @philiphunterbell , and @rubynacks / Ruby Figueroa
</blockquote>

{% include blog-single.html %}